.move {
    width: 50px;
    height: 50px;
    background-color: black;
    position: relative;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 10s; 
    -webkit-animation-iteration-count: 3; 
    animation-name: example;
    animation-duration: 7s;
    animation-iteration-count: 3;
}
/* Standard syntax */
@keyframes example {
    0%   {background-color:black; left:0px; top:0px;}
    12.5%  {background-color:black; left:500px; top:0px;}
    25%  {background-color:black; left:500px; top:500px;}
    37.5%  {background-color:black; left:1000px; top:500px;}
    50%  {background-color:black; left:1000px; top:0px;}
    62.5%   {background-color:black; left:500px; top:0px;}
    75%    {background-color:black; left:500px; top:500px;}
    87.5% {background-color:black; left:0px; top:500px;} 
    100% {background-color:black; left:0px; top:0px;}
}